<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Success Welcome</title>
  {% load static %}
</head>

<body>
  <h1> Hello, {{ user.first_name }} </h4>
    <p> Here are your appointments for today!</p>
    <table>
      <tr>
        <th>Tasks</th>
        <th>Time</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr>{% for appointments in Appointment %}</tr>
      <td>{{ user.appointment.task }}</td>
      <td>{{ user.appointment.date }}</td>
      <td>{{ user.appointment.time }}</td>
      <td>{{ user.apppointment.status }}</td>
      <td><a href="/delete_user/{{user.id}}">Delete</a></td>
      <td><a href="/update_user/{{user.id}}">Edit</a></td>
      {% endfor %}
    </table>
    <h3> Your Other Appointments!</h3>
    <table>
      <tr>
        <th>Tasks</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
      <tr>{% for appointments in Appointment %}</tr>
      <td>{{ user.appointment.task }}</td>
      <td>{{ user.appointment.date }}</td>
      <td>{{ user.appointment.time }}</td>
      <td>{{ user.apppointment.status }}</td>
      {% endfor %}
    </table>
    <h3> Add Appointment</h3>
    <br>
    <form action="{% url 'add_appointment' %}" method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Tasks</label>
        <div class="col-sm-10">
          <input type="text" name="appointment_task" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Time</label>
        <div class="col-sm-10">
          <input type="text" name="appointment_time" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Date</label>
        <div class="col-sm-10">
          <input type="date" name="appointment_date" class="form-control">
        </div>
      </div>
      <input class="btn btn-default" id="submitbutton" type="submit" value="Add">
    </form>
</body>

</html>