<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Most Popular Secrets</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'my_app/css/secrets_styles.css' %}">
  </head>
  <body>
    <div id="wrapper">

      <div class="secrets-area">
        <h1>Most Popular Secrets</h1>
        <a href="/secrets">Back</a>
        {% for secret in secrets %}
          <p class="secret">{{secret.content}} ({{secret.created_at}}) <br>
            {% if secret.num_likes == 1 %}
              {{secret.num_likes}} like
            {% elif secret.num_likes > 1%}
              {{secret.num_likes}} likes
            {% endif %}

            {% if secret.author.id == user.id %}
              <span class="user-posted-or-liked">You posted this</span> <a href="/delete_secret/{{secret.id}}/most_popular">Delete</a>
            {% elif user in secret.likes.all %}
              <span class="user-posted-or-liked">You liked this</span> <a href="/unlike_secret/{{secret.id}}/{{user.id}}/most_popular">Unlike</a>
            {% else %}
              <a href="/like_secret/{{secret.id}}/{{user.id}}/most_popular">Like</a>
            {% endif %}

          </p>
        {% endfor %}
      </div>

    </div>
  </body>
</html>