<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'my_app/css/secrets_styles.css' %}">
  </head>
  <body>
    <div id="wrapper">
      {% if messages %}
        <div id="message-area">
          {% for message in messages %}
            <h3 class="success-message">{{ message }}</h3>
          {% endfor %}
        </div>
      {% endif %}
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      <div id="new-secret-area">
        <h1>Hello {{ user.first_name }}!</h1>

        <form id="new-secret-form" action="{% url 'new_secret' user_id=user.id %}" method="post">
          {% csrf_token %}

          <textarea name="content" placeholder="Your secret here..."></textarea>
          <input type="submit" name="" value="Post">
          <span><a class="nav-link" href="{% url 'most_popular' %}">Most Popular Secrets</a></span>
        </form>
      </div>
      <div class="secrets-area">
        <h1>Recent Secrets</h1>
        {% for secret in secrets %}
          <p class="secret">{{secret.content}} ({{secret.created_at|timesince}} ago)

            {% if secret.num_likes == 1 %}
              {{secret.num_likes}} like
            {% elif secret.num_likes > 1%}
              {{secret.num_likes}} likes
            {% endif %}

            {% if secret.author.id == user.id %}
              <span class="user-posted-or-liked">You posted this</span> <a href="{% url 'delete_secret' secret_id=secret.id return_loc='secrets' %}""/delete_secret/{{secret.id}}/secrets">Delete</a>
            {% elif user in secret.likes.all %}
              <span class="user-posted-or-liked">You liked this</span> <a href="/unlike_secret/{{secret.id}}/{{user.id}}/secrets">Unlike</a>

            {% else %}
              <a href="/like_secret/{{secret.id}}/{{user.id}}/secrets">Like</a>
            {% endif %}

          </p>
        {% endfor %}
      </div>

    </div>
  </body>
</html>