<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Full Stack Books!</title>
</head>
<body>
    <h1> Hello World </h1>
    {% for book in books %}  <!-- since it is book in books, the passing through values follow  the loop-->
        <h5>Title: {{book.title}} Author: {{book.author}} Category: {{book.category}}
        <p>{{book.book}}</p>
    {% endfor %}

    <form action="/books" method = 'post'>
        {% csrf_token %}
        <label for="">Title</label>
        <input type='text' name = "title">
        <label for="">Author</label>
        <input type='text' name = "author">
        <label for="">Category</label>
        <input type='text' name = "category">
        <!--<textarea name="title" rows='1' cols'5'></textarea>   USE THIS FOR OPEN FIELDS--> 
        <input type="submit" value= "Add Your Book!">
    </form>
</body>
</html>